{
  "openapi": "3.0.0",
  "info": {
    "title": "quote•hapily API",
    "description": "Developer APIs for the quote•hapily CPQ platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.quote.hapily.com/v1",
      "description": "Production API Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "PriceBook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "CreatePriceBookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdatePriceBookRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "ProductPrice": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "productId",
          "price",
          "currency"
        ]
      },
      "SetProductPriceRequest": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "productId",
          "price",
          "currency"
        ]
      }
    }
  },
  "paths": {
    "/pricebooks": {
      "get": {
        "summary": "List Price Books",
        "description": "Retrieves a list of all price books",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved price books",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriceBook"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Create Price Book",
        "description": "Creates a new price book",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePriceBookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Price book created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceBook"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pricebooks/{priceBookId}": {
      "get": {
        "summary": "Get Price Book",
        "description": "Retrieves a specific price book by ID",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "priceBookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved price book",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceBook"
                }
              }
            }
          },
          "404": {
            "description": "Price book not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "summary": "Update Price Book",
        "description": "Updates an existing price book",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "priceBookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriceBookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price book updated successfully"
          },
          "404": {
            "description": "Price book not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "summary": "Delete Price Book",
        "description": "Deletes a specific price book",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "priceBookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Price book deleted successfully"
          },
          "404": {
            "description": "Price book not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pricebooks/{priceBookId}/product-price": {
      "get": {
        "summary": "Get Product Price from Price Book",
        "description": "Retrieves the price of a specific product from a price book",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "priceBookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved product price",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductPrice"
                }
              }
            }
          },
          "404": {
            "description": "Price or product not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/pricebooks/{priceBookId}/product-prices": {
      "get": {
        "summary": "Get Product Prices",
        "description": "Retrieves prices for multiple products from a price book",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "priceBookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved product prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductPrice"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Price book not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Set Product Prices",
        "description": "Sets prices for multiple products in a price book",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "priceBookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SetProductPriceRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prices set successfully"
          },
          "404": {
            "description": "Price book not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "summary": "Delete Price Book Entries",
        "description": "Deletes multiple product prices from a price book",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "priceBookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Prices deleted successfully"
          },
          "404": {
            "description": "Price book not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}
